body
{
    background-image: url("../images/regeditimage/bg.png");
    background-repeat: no-repeat;
}
#daoh{
    width: 100%;
    background: #f2f2f2;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
}
.nav li{
    font-size: 15px;
}
#daoh li{
    display: inline;
}
#daoh a:hover{
    text-decoration: none;
}
#daoh a:visited{
    text-decoration: none;
}
#daoh a:focus{
    text-decoration: none;
}
.navbar-header{
    width: 200px;
    height: 80px;
}
.test1
{
    line-height: 80px;
    font-family: 微软雅黑;
    font-size: 25px;
    text-align: center;
    color: #f4f4f4;
}
.zhong
{
    width: 90%;
    float: right;

}
.zhong-left
{
    float: left;
}
#bodydetails{
    width: 90%;
    height: 600px;
    float: right;
    margin-top: 10px;
}
.bodydetails{
    width: 95%;
    height: 580px;
    margin: auto;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgba(18,21,44,0.8);
    float: left;
    margin-top: 50px;
}
#cmbProvince{
    height: 35px;
    border-radius: 2px;
    border: #D9D9D9 1px solid;
}
#cmbProvince:hover{
    border: #cccccc 1px solid;
}
#cmbCity{
    height: 35px;
    border-radius: 2px;
    border: #D9D9D9 1px solid;
}
#cmbCity:hover{
    border: #cccccc 1px solid;
}
#cmbArea{
    height: 35px;
    border-radius: 2px;
    border: #D9D9D9 1px solid;
}
#cmbArea:hover{
    border: #cccccc 1px solid;
}

