* {
    margin: 0;
    padding: 0
}

em, i {
    font-style: normal
}

li {
    list-style: none
}
*:focus {
    outline: none;
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    color: #10ae58;
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}


button, input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px / 1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666
}