.courseInfo{
    height: 40px;
}
.courseInfo>ul>li{
    list-style: none;
    float: left;
    font-size: 16px;
    line-height: 40px;
    color: #999;

    width: 80px;
    height: 40px;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.info2{
    margin-right: 70px;
}
.info1{
    margin-left: 60px;
}
.course{
    position: relative;
}
.course>ul>li{
    color: black;
}
.delBtn{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 1220px;
    top: 10px;
    background-image: url("../images/delCourse.png");
    background-position-y: 152px;
    background-position-x: -20px;
}
.delBtn:hover{
    background-position-x: 3px;
}
