#header{
    width: 100%;
    height: 60px;
    background-color:rgba(18,21,44,0.9);
    box-shadow: 0px 1px 2px black;
    position: fixed;
    z-index: 1;
}
#header>div{
    width: 1200px;
    height: 60px;
    margin: auto;
}
#logo{
    float: left;
}
#logo a{
    line-height: 60px;
}
#header-guide{
    float: left;
    margin-left: 30px;
}
.header-guide{
    width: 100px;
    height: 60px;
    float: left;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}
.header-guide:hover{
    background-color: #484C57;
}
#header-fenxiang{
    width: 154px;
    height: 55px;
    background-color: white;
    float: left;
    border: 1px #B2B2B2 solid;
    box-shadow: #666666 1px 1px 2px;
    margin-top: 60px;
    margin-left: -156px;
}
.header-fx{
    width: 46px;
    height: 45px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}
#header-fx1{
    background-image: url("../images/fenxiang.png");
    background-position: 0px 0px;
}
#header-fx2{
    background-image: url("../images/fenxiang.png");
    background-position: 0px 46px;
}
#header-fx3{
    background-image: url("../images/fenxiang.png");
    background-position: 0px 92px;
}
#search-tishi{
    width: 280px;
    background-color: white;
    float: left;
    border: 1px #B2B2B2 solid;
    box-shadow: #666666 1px 1px 2px;
    margin-left: 20px;
}
#search-tishi a{
    display: block;
    width: 278px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#search-tishi a:hover{
    background-color: #f2f2f2;
}
#header-search{
    width: 280px;
    height: 36px;
    box-sizing: border-box;
    border: #49af4f 1.5px solid;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 15px;
    color: #666666;
}
#news-count{
    position: absolute;
    top: 9px;
    right: 410px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #ac2925;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
#cart-count{
    position: absolute;
    top: 9px;
    right: 335px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #ac2925;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
#header-options a{
    float: left;
}
#header-options span{
    float: left;
}
#weidenglu{
    display: block;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#header-icon{
    width: 35px;
    height: 36px;
    margin-left: -40px;
    margin-top: -5px;
}
#header-icon:hover{
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}
#header-options{
    color: white;
    font-size: 15px;
    line-height: 60px;
    float: right;
}
#header-options span{
    margin-right: 25px;
}
#header-options a{
    color: white;
    font-size: 15px;
    margin-right: 25px;
}
#header-options a:hover{
    color: #10ae58;
}
#touxiang{
    width: 30px;
    height: 30px;
    float: right;
}
#touxiang img{
    border-radius: 15px
}
#touxiang-details{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -1px;
    margin-left: 1055px;
}
#xiaojiantou{
    margin-left: 120px;
    width: 14px;
    height: 9px;
    background:url(../images/background.png);
    background-position: 15px 0px;
}
#details{
    width: 150px;
    height: 150px;
    margin-top: -6px;
    background-color: white;
    border: 1px #B2B2B2 solid;
    border-top: none;
    text-align: center;
}
#right-float{
    width: 60px;
    height: 182px;
    position: fixed;
    background-color: white;
    border: 1px #B2B2B2 solid;
    bottom: 180px;
    right: 30px;
    z-index: 1;
}
#erweima{
    width: 110px;
    height: 130px;
    background-color: white;
    border: 1px #B2B2B2 solid;
    position: relative;
    right: 111px;
    top:-150px;
    line-height: 25px;
    text-align: center;
}
#weixin{
    width: 100px;
    height: 100px;
    margin-top: 3px;
}
#erweima span{
    color: black;
    font-size: 15px;
    line-height: 10px;
}
.right-float-div{
    width: 60px;
    height: 60px;
}
.right-icon{
    margin-top: 15px;
    margin-left: 14px;
    z-index: -1;
}
#right-float-jqr{
    background-image: url("../images/jiqiren.png");
    background-position: 14px 15px;
    background-repeat: no-repeat;
}
#right-jqr{
    width: 60px;
    height: 60px;
    margin-top: -60px;
    background-color: #39a030;
    display: none;
    background-image: url("../images/jiqirenlv.png");
    background-position: 14px 15px;
    background-repeat: no-repeat;
}
.rf-line{
    width: 50px;
    margin: auto;
    border-top: 1px #B2B2B2 solid;
}
#right-gzh{
    background-color: #39a030;
    width: 60px;
    height: 60px;
    margin-top: -60px;
}
#right-gzh p{
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
}
#right-hddb{
    background-color: #39a030;
    width: 60px;
    height: 60px;
    margin-top: -60px;
}
#right-hddb p{
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
}
#footer{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #474443;
    margin-top: 100px;
}
#footer-top{
    width: 100%;
    height: 150px;
    background-color: #f4f4f4;
    float: left;
}
.footer-center{
    width: 1200px;
    height: 150px;
    margin: auto;
}
#hzjg li{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
}
#hzjg li:first-child{
    margin-left: 0px;
    color: black;
    font-size: 30px;
    margin-top: 25px;
}
#footer-bottom{
    width: 100%;
    height: 150px;
    float: left;
}
#footer-bottom ul{
    margin-top: 10px;
}
#footer-bottom ul:first-child{
    margin-top: 30px;
    color: white;
}
#footer-bottom li{
    font-size: 14px;
    display: inline;
    margin-right: 15px;
}
#footer-bottom a{
    color: white;
}
#footer-bottom a:hover{
    border-bottom: white 1px solid;
}
#copyright{
    color: #999;
}
